#frame {
    position: relative;
    width: 1200px;
    height: 500px;
    margin: 20px;
}

#graph1 {
    position: absolute;
    left: 0px;
    top: 0px;
    border: solid 1px black;
    transition: opacity ease 3s;
}

#graph2 {
    position: absolute;
    left: 0px;
    top: 0px;
    border: solid 1px black;
}

#graph3 {
    position: absolute;
    left: 530px;
    top: 0px;
    border: solid 1px black;
}

#isRecursion {
    position: absolute;
    left: -999px;
}

#info {
    width: 600px;
}